.navbar {
            overflow: hidden;
            background-color: #817373;
        }
            <style>
    body {
      background-image: url('https://scontent.fmnl13-1.fna.fbcdn.net/v/t39.30808-1/438305878_1496891447845309_7639934308075351079_n.jpg?stp=dst-jpg_s200x200&_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHBOyIZLk6OasfMMo1yCyOiNcVBaeIlaBc1xUFp4iVoF7p8G8Yb3y9AANqEDxZLYZYkjQcNarD15HwqtlfTwRKK&_nc_ohc=bxVeKYuzW3cQ7kNvgHcweUl&_nc_ht=scontent.fmnl13-1.fna&oh=00_AYAcrSSYJKdD9Rv0B7QOxI3ktK095nuR4Th6iqvgxqx1IQ&oe=665B6703.jpg'); 
      background-size: cover;
      background-position: center;
      font-family: Arial, sans-serif; 
      margin: 0;
      padding: 0;
    }
  </style>
        
    .navbar a {
            width: 150px;
            float: left;
            display: block;
            color: #f2f2f2;
            text-align: left;
            padding: 14px 20px;
            text-decoration: none;
        }

        
    .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        
    .active {
            background-color: #008000;
        }

       h1 {
            font-size: 40px;
            text-align: left;
       }
       h2 {
        font-size: 30px;
        text-align: left;
       }
       p {
            font-size: 15px;
            font-weight: normal;
       }
      .container {
            position: relative;
            width: 50%;
        }

     .image {
            display: inline-block;
            width: 250px;
            height: 250px;
            border-radius: 150px;
        }

     .overlay {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #020631;
            overflow: hidden;
            width: 100%;
            height: 0;
            transition:.5s ease;
        }

     .container:hover.overlay {
            height: 100%;
        }

     .type {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }
    body{
        background-color: aqua;
    }
